@charset 'utf-8';
body,
dd,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
    margin: 0
}

body {
    font-family: tahoma, arial, 'Hiragino Sans GB', 'Mircosoft Yahei', sans-serif
}

ol,
ul {
    padding: 0
}

li {
    list-style: none
}

a {
    background-color: transparent;
    text-decoration: none
}

a:active,
a:hover,
button,
input,
textarea {
    outline: 0
}

img {
    border-style: none
}

.g-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:transparent url(http://p3.music.126.net/aPCw1HlN5j_msuE0qaSirg==/17982512672538089.jpg) left top no-repeat;
    background-size: cover;
}
.disk-box{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    width: 1000px;
    background-color: #232121;
    border-radius: 20px;
    overflow: hidden;
    &>div{
        
    }
}
.song-disk{
	width:444px;
	height: 444px;
	transform-origin:center center;
    will-change: transform;
    cursor: -webkit-grab;
    // opacity: 0;
    &::before{
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        background: url(../image/disk.png) no-repeat;
        background-size: contain;
    }
    &::after{
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
        background: url(../image/light.png) no-repeat;
        background-size: contain;
    }
    .song-cover{
        position: absolute;
        left: 50%;
        top: 50%;
        width:280px;
        height: 280px;
        margin-top: -140px;
        margin-left: -140px;
        background:transparent url(../image/default.png) left top no-repeat;
        background-size: contain;
        img{
            width: 100%;
            vertical-align: middle;
        }
    }
}
.song-needle{
    position: absolute;
    top:-14px;
    left:48%;
    z-index: 10;
    width: 143px;
    height: 218px;
    cursor: pointer;
    background:transparent url(../image/needle.png) left top no-repeat;
    background-size: contain;
    transform-origin: 15% 2.7%;
    transform: rotate(-30deg);
    transition: transform .5s ease-in-out;
    &[data-status="on"]{
        transform: rotate(0);
        cursor: alias;
    }
}

@keyframes diskRotate{
	0{
		transform:rotate(0);
	}
	50%{
		transform:rotate(180deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

.song-list{
    width:200px;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink:0;
    li{
        width: 100%;
        font-size: 14px;
        line-height: 24px;
        color:#fff;
        text-align: center;
        cursor: -webkit-grab;
        &:nth-child(even){
            background-color: rgba(#30bb30, 0.7);
        }
        &:nth-child(odd){
            background-color: rgba(#5656ea, 0.7);
        }
    }
}