@charset 'utf-8';
body,
dd,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
    margin: 0
}

body {
    font-family: tahoma, arial, 'Hiragino Sans GB', 'Mircosoft Yahei', sans-serif
}

ol,
ul {
    padding: 0
}

li {
    list-style: none
}

a {
    background-color: transparent;
    text-decoration: none
}

a:active,
a:hover,
button,
input,
textarea {
    outline: 0
}

img {
    border-style: none
}

.g-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color: #dcc;
}

[class|='disk']{
	width:414px;
	height: 414px;
	background:transparent url(../image/disk.png) left top no-repeat;
	transform-origin:center center;
}